body {
	background-color: black;
}

h3 {
	color: #e6e6e6;
	font-size: 20px;
	text-transform: uppercase;
}

.popover-title{
	text-align: center;
	color: #000000;
}

.popover-content{
	text-align: center;
}

.popover-content input{
	margin-top: 5px;
}

#container .mix {
	display: none;
}

.white {
	color: #fff;
	font-size: 25px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.fr_div{
	margin-top: 5px;
	max-height: 180px;
}

.fr_push{
	padding-top: 50px;
}

.fr_imgholder{
	position: relative;
	width: 100%;
	height: 180px;
	overflow: hidden;
	z-index: 10;
	box-shadow:0px -10px 50px; black;	
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.fr_imgholder img { z-index: 10;}

figure:hover .fr_imgholder,
figure.cs-hover .fr_imgholder {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

figcaption {
	position: absolute;
 	height: 90px;
    width: 100%;
    top: auto;
    bottom: 0;
    background-color: black;

    text-align: center;
}

figcaption:hover{
	cursor: pointer;
}

.fr_selector{
	color:white;
	width: auto;
	float:left;
	display: inline-block;
	margin:10px;
}

.fr_selector:hover{
	cursor: pointer;
}
.active {
	text-decoration: underline;;
}




